In [1]:
# depndencies
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs
from pprint import pprint
import time
import re

# CANADIAN INDEX OF WELLBEING

In [2]:
# prepare chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# set browser with url of Canadian Index of Wellbeing
url1 = 'https://uwaterloo.ca/canadian-index-wellbeing/reports/2016-canadian-index-wellbeing-national-report/executive-summary'
browser.visit(url1)
time.sleep(5)

# set up parser
html = browser.html
soup = bs(html, 'lxml')

In [3]:
url = 'https://uwaterloo.ca'

In [4]:
# get images
image1_url = url + soup.find_all('img')[0]['src']
image2 = soup.find_all('img')[1]['src']
image2_url = url + image2
image1_url

'https://uwaterloo.ca/canadian-index-wellbeing/sites/ca.canadian-index-wellbeing/files/resize/uploads/images/c011676-ciw-nationalreport-ciwvsgdp-750x500.jpg'

In [5]:
url2 = 'https://uwaterloo.ca/canadian-index-wellbeing/what-we-do/framework'
browser.visit(url2)
# get images
image3_url = url + soup.find_all('img')[0]['src']
image3_url

'https://uwaterloo.ca/canadian-index-wellbeing/sites/ca.canadian-index-wellbeing/files/resize/uploads/images/c011676-ciw-nationalreport-ciwvsgdp-750x500.jpg'

In [6]:
# Close the browser after scraping
browser.quit()

## Get main table

In [7]:
# use pandas to read the tables
tables = pd.read_html(url1)

In [14]:
t1=tables[0].copy()
t1 = t1.drop(t1.index[[10,11]])
t1['Year'] = t1['Year'].astype(int)
t1['year']=t1['Year']+1
t1["gpd_percapita_change"]= t1["GDP per capita"].str.split(" ", n = 1, expand = True)[1].astype(float)
t1["ciw_change"]= t1["CIW"].str.split(" ", n = 1, expand = True)[1].astype(float)
t1=t1.drop(t1.columns[[0,1,2]], axis=1).set_index('year')
t1

      gpd_percapita_change  ciw_change
year
1995                  1.73       -0.73
1997                  5.53       -1.23
1999                 13.65       -0.50
2001                 18.36        1.06
2003                 21.59        3.80
2005                 26.80        5.77
2007                 30.36        8.39
2009                 25.25        8.50
2011                 34.05        5.91
2013                 36.21        8.18

In [15]:
t0=tables[0].copy()
t0 = t0.drop(t0.index[11]).rename(columns={'Year': 'year'})
t0['year'] = t0['year'].astype(int)
t0["gpd_percapita_change"]= t0["GDP per capita"].str.split(" ", n = 1, expand = True)[0].astype(float)
t0["ciw_change"]= t0["CIW"].str.split(" ", n = 1, expand = True)[0].astype(float)
t0 = t0.drop(t0.columns[[1,2]], axis=1).set_index('year')
t0

      gpd_percapita_change  ciw_change
year
1994                  0.00        0.00
1996                  2.22       -1.41
1998                  8.62       -1.06
2000                 18.20       -0.29
2002                 20.42        2.35
2004                 24.10        4.56
2006                 29.09        7.21
2008                 29.87        8.84
2010                 30.87        6.43
2012                 34.81        6.82
2014                 37.99        9.93

In [16]:
CIWvsGDP = pd.concat([t0, t1]). sort_index()
CIWvsGDP.tail(1)

      gpd_percapita_change  ciw_change
year
2014                 37.99        9.93

In [18]:
CIW_Table=tables[1].copy()
CIW_Table.drop(CIW_Table.index[21], inplace=True)
CIW_Table['Year'] = CIW_Table['Year'].astype(int)
CIW_Table = CIW_Table.rename(columns={'CIW':'ciw', 'Community Vitality': 'comm_vitality', 
                                        'Democratic Engagement': 'democratic_engagement','Education': 'education',
                                        'Environment': 'environment','Healthy Populations': 'healthy_pop', 
                                        'Leisure and Culture': 'leisure','Living Standards': 'living_standards', 
                                        'Time Use': 'time_use',}).set_index('Year')
CIW_Table.tail(1)

,ciw,comm_vitality,democratic_engagement,education,environment,healthy_pop,leisure,living_standards,time_use
Year,,,,,,,,,
2014,9.9,14.8,13.0,32.8,-2.9,16.2,-9.3,11.9,3.0

In [19]:
#pd.concat([df1, df4], axis=1, sort=False)
JoinTable=pd.concat([CIWvsGDP,CIW_Table], axis=1, sort=False)

JoinTable.tail(1)

,gpd_percapita_change,ciw_change,ciw,comm_vitality,democratic_engagement,education,environment,healthy_pop,leisure,living_standards,time_use
2014,37.99,9.93,9.9,14.8,13.0,32.8,-2.9,16.2,-9.3,11.9,3.0

# Get Feature Tables

In [13]:
def table_maker_function(feature):
    url_a = f'https://uwaterloo.ca/canadian-index-wellbeing/reports/2016-canadian-index-wellbeing-national-report/{feature}'
    table_a = pd.read_html(url_a)[0].set_index('Year')
    url_b = f'https://uwaterloo.ca/canadian-index-wellbeing/reports/2016-canadian-index-wellbeing-national-report/{feature}-domain-raw-data'
    table_b = pd.read_html(url_b)[0].set_index('Year')
    Table = pd.concat([table_a,table_b], axis=1, sort=False)
    Table = Table.drop(Table.columns[[0,1]], axis=1)
    return Table

In [14]:
education = table_maker_function('education')
education = education.rename(columns={'Education': 'education',
                                      'Percentage of children aged 0 to 5 years for whom there is a regulated centre-based childcare space': 'childcare',
                                      'Average amount of time spent in talk-based activities with children aged 0 to 14 years': 'talkbased_activity',
                                      'Average expenditure per public school student (2013$)': 'expenditure_perschool',
                                      'Ratio of students to educators in public schools': 'educators_perschool',
                                      'Average annual Canadian undergraduate tuition fees (2015$)': 'undergraduate_tuition', 
                                      'Percentage of Canadians 20 to 24 years of age in labour force completing high school': 'highschool_edu',
                                      'Percentage of 25 to 64 year olds in population with a university degree': 'university_edu', 
                                      'Percentage of adults aged 25 and older participating in education related activities': 'edu_activities',})
education.tail(1)

,education,childcare,talkbased_activity,expenditure_perschool,educators_perschool,undergraduate_tuition,highschool_edu,university_edu,edu_activities
Year,,,,,,,,,
2014,32.8,24.1,34.2,13.58,11.8,5998,89.3,28.5,5.7

In [15]:
healthy_populations = table_maker_function('healthy-populations')
healthy_populations = healthy_populations.rename(columns={'Healthy Populations': 'hlty_pop', 
                                                          'Life expectancy at birth in years': 'expectancy',
                                                          'Percentage of population that rates their overall health as very good or excellent': 'overall_health',
                                                          'Percentage of population that rates their mental health as very good or excellent': 'mental_health',
                                                          'Percentage of population with an absence of health or activity-based limitations': 'health_limitations',
                                                          'Percentage of daily or occasional smokers among teens aged 12 to 19 years': 'teen_smokers', 
                                                          'Percentage of population with self-reported diabetes': 'diabetes',
                                                          'Percentage of population getting influenza immunization in past year': 'influenza_immunization', 
                                                          'Percentage of Canadians with a regular medical doctor': 'family_doctor',})
healthy_populations.tail(1)

,hlty_pop,expectancy,overall_health,mental_health,health_limitations,teen_smokers,diabetes,influenza_immunization,family_doctor
Year,,,,,,,,,
2014,16.2,82.1,59.0,71.1,78.5,7.7,6.7,32.5,85.1

In [16]:
comm_vitality = table_maker_function('community-vitality')
comm_vitality = education.rename(columns={'Community Vitality': 'comm_vitality', 
                                          'Percentage of population that reports very or somewhat strong sense of belonging to communityt': 'community',
                                          'Percentage of population with 5 or more close friends': 'friends',
                                          'Percentage of population that feels safe walking alone after dark': 'safety',
                                          'Crime Severity Index': 'crime_index', 
                                          'Percentage of population experiencing discrimination in past 5 years based on ethno-cultural characteristics': 'discrimination',
                                          'Percentage of population that believes that most or many people can be trusted': 'trust',
                                          'Percentage of population reporting unpaid, formal volunteering for groups or organizations': 'volunteering_organization', 
                                          'Percentage of population that provides unpaid help to others on their own': 'volunteering_personal',})
comm_vitality.tail(1)

,education,childcare,talkbased_activity,expenditure_perschool,educators_perschool,undergraduate_tuition,highschool_edu,university_edu,edu_activities
Year,,,,,,,,,
2014,32.8,24.1,34.2,13.58,11.8,5998,89.3,28.5,5.7

In [17]:
democratic_engagement = table_maker_function('democratic-engagement')
democratic_engagement = democratic_engagement.rename(columns={'Democratic Engagement': 'democratic_engagement',
                                                              'Percentage of voter turnout at federal elections': 'voter_turnout',
                                                              'Ratio of registered to eligible voters': 'registered_voters_ratio',
                                                              'Gap in percentage turnout between older and younger voters': 'older_younger_turnout_gap',
                                                              'Percentage of women in federal Parliament': 'women_in_parliament',
                                                              "Percentage of Members of Parliament's office budget devoted to sending communications to constituents": 'parliament_for_communication', 
                                                              'Percentage of population that volunteers for a law, advocacy, or political group': 'political_volunteers',
                                                              'Percentage of population that is very of fairly satisfied with way democracy works in Canada': 'democratic_system_satisfaction', 
                                                              'Percentage of population with a great deal or quite a lot of confidence in federal Parliament': 'confidence_in_parliament',})
democratic_engagement.tail(1)

,democratic_engagement,voter_turnout,registered_voters_ratio,older_younger_turnout_gap,women_in_parliament,parliament_for_communication,political_volunteers,democratic_system_satisfaction,confidence_in_parliament
Year,,,,,,,,,
2014,13.0,66.3,0.88,25.4,25.7,5.87,1.9,65.8,35.5

In [18]:
living_standards = table_maker_function('living-standards')
living_standards = living_standards.rename(columns={'Living Standards': 'living_standards',
                                                    'After-tax median income of economic family (2013$)': 'median_income',
                                                    'Percentage of persons living in poverty based on low income cut-off (LICO)': 'poverty',
                                                    'Gini coefficient (income gap)': 'gini',
                                                    'Percentage of households that are moderately or severely food insecure': 'food_insecurity',
                                                    'Housing affordability based on Shelter Consumption Affordability Ratio (SCAR)': 'housing_affordability', 
                                                    'Percentage of labour force employed': 'employment',
                                                    'Percentage of labour force in long-term unemployment': 'longterm_employment', 
                                                    'CIBC index of employment quality (1994 Q1=100)': 'employment_quality',})
living_standards.tail(1)

,living_standards,median_income,poverty,gini,food_insecurity,housing_affordability,employment,longterm_employment,employment_quality
Year,,,,,,,,,
2014,11.9,72100,9.7,0.32,7.7,39.2,61.4,12.4,98.3

In [19]:
time_use = table_maker_function('time-use')
time_use = time_use.rename(columns={'Percentage of Canadians 25 to 64 years of age working over 50 hours per week at main job': 'plus50_workhours', 
                                      'Percentage of labour force working under 30 hours per week, not by choice': 'less30_workhours',
                                      'Percentage of labour force with regular, weekday work hours': 'regular_workhours',
                                      'Percentage of individuals working for pay with flexible work hours': 'flexible_workhours',
                                      'Mean workday commute time for individuals working for pay': 'work_commute_time', 
                                      'Percentage of Canadians who report 7 to 9 hours of good quality essential sleep': 'plus7_sleephours',
                                      'Average daily amount of time with friends (minutes per day)': 'time_with_friends',
                                      'Percentage of 15 to 64 year olds reporting high levels of time pressure': 'time_with_pressure', 
                                      'Time Use': 'time_use',})
time_use.tail(1)

,time_use,plus50_workhours,less30_workhours,regular_workhours,flexible_workhours,work_commute_time,plus7_sleephours,time_with_friends,time_with_pressure
Year,,,,,,,,,
2014,3.0,8.7,5.3,66.5,45.2,53.9,34.7,81.1,16.4

In [20]:
environment = table_maker_function('environment')
environment = environment.rename(columns={'Environment': 'environment',
                                      'Ecological Footprint': 'eco_footprint',
                                      'Absolute GHG emissions (megatonnes of CO2 per year)': 'ghg_emissionst',
                                      'Ground level ozone (population weighted in parts per billion)': 'groundlevel_ozone',
                                      'Primary energy production (petajoules)': 'energy_production',
                                      'Viable Metal Reserves Index': 'metal_reserves', 
                                      'Residential energy use (terajoules per 1,000 dwellings)': 'residential_energy_use',
                                      'Total farm land (hectares)': 'farm_land', 
                                      'Annual water yield in Southern Canada (km3)': 'annual_water_yield',})
environment.tail(1)

,environment,eco_footprint,ghg_emissionst,groundlevel_ozone,energy_production,metal_reserves,residential_energy_use,farm_land,annual_water_yield
Year,,,,,,,,,
2014,-2.9,8.284,732,32.8,11189704,0.59,100.02,63148311,1293.3

In [21]:
leisure = table_maker_function('leisure-and-culture')
leisure = leisure.rename(columns={'Leisure and Culture': 'leisure',
                                  'Average percentage of time spent on previous day in social leisure activities': 'leisure_time', 
                                  'Average percentage of time spent on previous day in arts and culture activities': 'culture_time',
                                  'Average monthly frequency of participation in physical activity lasting over 15 minutes': 'physical_activity_freq',
                                  'Average attendance per performance at all performing arts performances': 'performance_arts_time',
                                  'Average number of hours volunteering for culture and/or recreation organizations': 'culture_volunteer_time', 
                                  'Average visitation per site past year to National Parks and National Historic Sites': 'national_park_visit',
                                  'Average number of nights away on vacation trips to destinations at least 80km from home': 'vacation_days', 
                                  'Expenditures on all culture and recreation as a percentage of total household expenditures': 'leisure_culture_expenditure',})
leisure.tail(1)

,leisure,leisure_time,culture_time,physical_activity_freq,performance_arts_time,culture_volunteer_time,national_park_visit,vacation_days,leisure_culture_expenditure
Year,,,,,,,,,
2014,-9.3,13.17,3.93,27.56,328.44,34.3,194482,2.96,4.76